/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,Arial, sans-serif;

}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

/*utilities*/
.bottom-footer,
.container{
    max-width: 70%;
    margin: 0 auto;
    font-weight: 500;
}


.main-header{
    width: 100%;
    color: white;
}

.top-bar{
    max-width: 100%;
    height: 90px;
    line-height: 90px;
    background-color: #255EE9;
}
   
.btn.white{
    color: white;
}

.nav-bar a{
    height: 100%;
    display: inline-block;
}

.nav-bar a,
.btn a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.float-l{
    float: left;
}

.col-side{
    width: 25%;
}

.col.nav{
    width: 50%;
}

.end-title > a,
.btn.big.white > a{
    background-color: white;
    color: #23272A;
    padding: 15px 20px;
    border-radius: 25px;
}

#btn-big-black{
    margin-left: 30px;
    background-color:#23272A ;
    color: white;

}    
.btn.big.white > a      
#btn-big-black{
    display: inline-block;
    line-height: normal;
}


.btn.small a{
    background-color: white;
    color: #23272A;
    padding: 10px 15px;
    border-radius: 20px;
}

.arrow-white{
    color: white;
}

.arrow-black{
    color: #23272A;
}


.bg-gray{
    background-color: #F6F6F6;
}

/*logo position*/
#logo-discord{
    vertical-align: middle;
}

/*nav position and details*/
.nav-bar{
    text-align: center;
}

.nav-bar ul li{  

    display: inline-block;
    margin: 0 20px;
}

.nav-bar ul li a:hover{
    border-bottom: 1px solid white;
}
/*accedi btn position and decoration*/
.col-side .btn{
    text-align: right;
}

.btn.small a:hover{
    color: #3161E0;
}

/*jumbotron*/
.jumbotron{
    width: 100%;
    height: 630px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbo-text{
    width: 47%;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
    padding-top: 120px;
}

.jumbo-text h1{
    font-size: 3.5rem;
    padding-bottom: 60px
}

.jumbo-text p{
    font-size: 1.5rem;
}


/*link jumbo*/
.jumbo-text .btn{
    margin-top: 30px;
}

.btn.big.white > a:hover{
    color: #3161E0;
}

#btn-big-black:hover{
    background-color: white;
    color: black;
}

/*main sections utilities*/
h2{
    font-size: 3.5rem;
}

p{
    font-size: 1.5rem;
}

h3{
    font-size: 1.8rem;
}

.w60{
    width: 60%;
}

.w40{
    width: 40%;
}

.section.first{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    
}
.section.second .img-second{
    text-align: right;
}

.section.first .img-first{
    width: 95%;
    height: auto;
}

.section.first .w40 p,
.section.first .w40 h2{
    padding-left: 100px;
    padding-top: 40px;
}

/*second*/
.section.second{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.section.second .w40 p,
.section.second .w40 h2{
    padding-right: 100px;
    padding-top: 40px;
}

/*third*/
.section.third{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    
}

.section.third .w40 p,
.section.third .w40 h2{
    padding-left: 100px;
    padding-top: 40px;
}

/*fourth*/
.section.fourth{ 
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.section.fourth p{
    padding: 0 60px;
    padding-top: 30px;
    line-height: 35px;
}

#img-fourth{
    width: 100%;
    height: auto;

}

/*fifth section*/
.container .end-title{
    width: 100%;
    padding-top: 165px;
    height: 40vh;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.end-title > h3{
    margin-bottom: 50px;
}


.end-title > a {
    background-color: #8EA1E1;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.end-title a .arrow{
    color: white;
}


/*footer*/
.end-bar{
    width: 100%;
    height: 70vh;
    background-color: #23272A;
}

.footer-col{
    width: calc(100% / 5);
    padding-top: 80px;

}

.footer-col > h3{
    color: #7289DA;
}

.footer-col nav p{
    font-size: 1.1rem;
    font-weight: bold;
    color: #7289DA;
    padding-left: 80px;
}

.footer-col nav ul li a{  
    padding-left: 80px;
    color: white;
    text-decoration: none;
}

.footer-col nav ul li{
    list-style-type: none;
    margin-top: 10px;
}

.languages{
    color: white;
}


.bottom-footer{
    width: 100%;
    height: 20vh;
    background-color:#23272A ;
    border-top: 1px solid #7289DA;
    margin-top: 50px;
    padding-top: 30px;
}

.logo-footer{
    width: 50%;

}

.btn-registrati{
    width: 50%;
}
 .registrati a{
    background-color:#7289DA ;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    display: inline-block;
}

.registrati{
    text-align: right;
}





